mixin link(href, name)
  a(href= href)= name

mixin nav(className, items, activeItem)
  nav.main-menu.top-menu
    ul(class= `${className}`)
      each item, ndx in items
        li(class= `${className}__item` + ( ( ndx === activeItem ) ? ` ${className}__item active` : ' ') )
          a(class=`${className}__link` href="#")= item

mixin item-social(count, data, dataTitle)
  .item-social
    .item-comments(title='Kоличество комментариев') 
      i.fa.fa-comments 
      a.item-comments-count(href='#disqus_thread') #{count}
    .fa.fa-share-alt(title='Поделиться в соц.сетях')
    .likely.likely-custom(data-url='path', data-media= data, data-title= dataTitle )
      .vkontakte(title='Поделиться в контакте') Вконтакте 
      .facebook(title='Поделиться в facebook') Facebook
      .twitter(title='Поделиться в twitter') Twitter

mixin item-social-mod(count, data, Title)
  .item-social
    .item-comments(title='Kоличество комментариев')
      span.date.date-reviews #{data}
      i.fa.fa-comments
      a.item-comments-count(href='#disqus_thread') #{count} 
  h4.title-news-desc
    a(href="#") #{Title} 

mixin item-social-mod2(count, data)
  .item-social
    .item-comments(title='Kоличество комментариев')
      span.date.date-reviews #{data}
      i.fa.fa-comments
      a.item-comments-count(href='#disqus_thread') #{count} 

mixin item-social-mod3(count, data)
  .item-social
    .item-comments(title='Kоличество комментариев')
      i.fa.fa-comments
      span.date.date-reviews #{count}
      a.item-comments-count(href='#disqus_thread') #{data} 
  